<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <img src="./images/ak47.jpg" class="image1" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Fusil de Asalto Ak-47</h5>
        <p>Sencillo fusil de gran potencia, municion calibre 7.62 mm, para todo tipo de usos. </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <img src="./images/glock.jpg" class="image2" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Pistola Glock 19</h5>
        <p>Ligera pistola semiautomática con munición 9mm, prácticamente indestructible.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <img src="./images/spas.jpg" class="image3" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Escopeta Spas-12</h5>
        <p>"Escopeta ligera de propósito deportivo", entra a ver al monstruo.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="divider">
  <h2>Artículos populares</h2>
</div>

<div id="articulos" class="row d-flex justify-content-center">
  <div class="card-group">
    <div class="card">
      <img src="./images/fiveseven.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$3.000</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
    <div class="card">
      <img src="./images/machinegun.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$28.000</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
    <div class="card">
      <img src="./images/p90.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$14.550</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
  </div>
</div>
<div id="articulos" class="row d-flex justify-content-center">
  <div class="card-group">
    <div class="card">
      <img src="./images/fiveseven.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$3.000</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
    <div class="card">
      <img src="./images/machinegun.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$28.000</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
    <div class="card">
      <img src="./images/p90.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">$14.550</h5>
        <a href="#" class="btn btn-primary">Ver artículo</a>
      </div>
    </div>
  </div>
</div>
<div id="divider">
  <h2>Categorías</h2>
</div>
<div id="categorias" class="row d-flex justify-content-center">
  <div class="card text-center">
    <div id="pintado" class="card-header">&nbsp</div>
    <div class="card-body">
      <h5 class="card-title">Subfusiles</h5>
      <p class="card-text">
        Armas para ocaciones tácicas, con poder de fuego moderado pero alta cadencia de disparo.
      </p>
      <a href="#" class="btn btn-primary">Ver</a>
    </div>
    <div id="pintado" class="card-footer">&nbsp</div>
  </div>
  <div class="card text-center">
    <div id="pintado" class="card-header">&nbsp</div>
    <div class="card-body">
      <h5 class="card-title">Fúsiles de francotirador</h5>
      <p class="card-text">
        Munición extremadamente potente, cargador escaso, para misiones enfocadas en un solo objetivo. 
      </p>
      <a href="#" class="btn btn-primary">Ver</a>
    </div>
    <div id="pintado" class="card-footer">&nbsp</div>
  </div>
  <div class="card text-center">
    <div id="pintado" class="card-header">&nbsp</div>
    <div class="card-body">
      <h5 class="card-title">Pistolas</h5>
      <p class="card-text">
        La mejor opcion para todo tipo de ocaciones, pequeñas, fuertes, resistentes, ergonómicas, perfectas.
      </p>
      <a href="#" class="btn btn-primary">Ver</a>
    </div>
    <div id="pintado" class="card-footer">&nbsp</div>
  </div>
</div>
