nav {
  background-color: rgb(7, 38, 73);
}

nav li{
  margin-top: 1%;
  margin-bottom: 1%;
}

nav li a{
  color: white;
}

#logo{
  width: 8%;
  height: auto;
  margin-top: 25px;
  margin-left: 5px;
}

